<h2>Listing member payments</h2>

<table border="1" cellpadding="2" cellspacing="1">
  <thead>
    <tr>
      <th>Member</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Reference</th>
      <th>Details</th>
      <th>Means</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mpayments.each do |mpayment| %>
      <tr>
        <td><%= mpayment.Member.name %></td>
        <td><%= mpayment.pdate %></td>
        <td><%= mpayment.amount %></td>
        <td><%= mpayment.reference %></td>
        <td><%= mpayment.details %></td>
        <td><%= mpayment.MeansPayment.name %></td>
        <td><%= link_to 'Show', mpayment %></td>
        <td><%= link_to 'Edit', edit_mpayment_path(mpayment) %></td>
        <td><%= link_to 'Destroy', mpayment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member Payment', new_mpayment_path %>
